body,
div,
input {
  font-family: "Trebuchet MS", Arial;
}

#calculator {
  background-color: #008000;
  width: 330px;
  height: 495px;
  border: 3px #00b300 solid;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
  webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mytitle {
  background-color: #008000;
  margin-bottom: 5px;
  text-align: center;
  color: white;
  font-size: 18px;
}
#screen {
  height: 70px;
  width: 295px;
  background-color: white;
  text-align: right;
  font-size: 60px;
}

input {
  border: none;
  vertical-align: left;
}

input,
select {
  outline: none !important;
}

#display {
  height: 20px;
  width: 295px;
  background-color: white;

  margin-bottom: 10px;
  text-align: right;
  font-size: 20px;
}

.btn {
  width: 58px;
  height: 58px;
  margin: 5px;
  border-radius: 10px !important;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
